.header-master {
  border-bottom: 1px solid #E1E7EF;
  margin-top: -60px;
  transition: all 0.3s;
}
.header-master.active {
  margin-top: 0px;
}

.header-master .div-logo {
  width: 250px;
}

.header-master .logo {
  height: 45px;
  width: auto;
}

.header-master .div-restante {
  width: calc(100% - 250px);
  overflow: hidden;
}

.header-master .div-usuario {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

.header-master .div-usuario>img {
  height: 100%;
  width: auto;
}