.sidebar {
  z-index: 1;
}

.sidebar-menu {
  height: 100%;
  width: 250px;
  min-width: 250px;
  background: #ffffff;
  margin-left: -250px;
  transition: all 0.3s;
}

.sidebar-menu.active {
  margin-left: 0px !important;
  -webkit-box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.7);
  -moz-box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.7);
  box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.7);
}

@media screen and (max-width: 767px) {
  .sidebar-menu {
    position: absolute;
  }
}

.sidebar-backdrop {
  position: absolute;
  background-color: #000;
  opacity: 0;
  transition: all 0.5;
}

.sidebar-backdrop.active {
  width: 100%;
  height: 100%;
  opacity: 0.6;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(5px);
}

.sidebar-menu .sidebar-content {
  height: calc(100% - 71px);
  overflow: auto;
}

.sidebar-menu ul {
  padding: 10px 0;
  margin: 0;  
}

.sidebar-menu ul li a {
  display: block;
  padding-left: 25px;
  padding-right: 15px;
  cursor: pointer;
  text-decoration: none;
}

.sidebar-menu ul li>a:hover {
  padding-left: 20px;
  border-left: 5px solid black;
}

.sidebar-menu ul li>a.active {
  padding-left: 20px;
  border-left: 5px solid black;
}

.sidebar-footer {
  width: 250px;
  padding: 10px;
  position: fixed;
  bottom: 0;
}