<header class="header-master" [class.active]="components.isHeaderVisible">
  <div class="d-flex justify-content-between h-100">
    <div class="d-flex align-items-center justify-content-between px-4 div-logo">
      <button type="button" class="btn sidebar-button" (click)="isSidebarActive = !isSidebarActive">
        <i class="fas fa-bars fa-lg"></i>
      </button>
      <!-- <img src="assets/img/header/logo-header.png" class="logo"> -->
    </div>
    <div class="d-flex align-items-center justify-content-end div-restante"> 
      <div class="div-usuario bg-light-gray mr-3">
        <img src="assets/img/header/img-usuario.svg">
      </div>
      <span class="color-gray mr-3 d-none d-sm-block">
        Caue Silva
      </span>
      <div class="color-blue hover-dark-blue mr-3">
        <i class="fas fa-chevron-down"></i>
      </div>
      <div class="color-gray hover-red mr-3" (click)="logOut()">
        <i class="fas fa-sign-out-alt"></i>
      </div>
    </div>
  </div>
</header>

<main class="main-master" [class.h-100]="!components.isHeaderVisible">
  <div class="sidebar" [class.d-none]="!components.isSidebarVisible">
    <div class="sidebar-backdrop d-md-none" [class.active]="isSidebarActive" (click)="isSidebarActive = !isSidebarActive">
    </div>
    <div class="sidebar-menu" [class.active]="isSidebarActive">
      <div class="sidebar-content">
        <ul>
          <li *ngFor="let p of pages">
            <a class="py-2 d-flex justify-content-between align-items-center menu-light-blue color-gray" >
              <span class="font-weight-bold font-size-12 {{p.class}}">
                {{p.title}}
              </span>
              <div class="siderbar-icon {{p.class}}">
                <i class="{{p.icon}}"></i>
              </div>
            </a>
          </li>
        </ul>
      </div>
      <div class="sidebar-footer border-top text-center color-gray">
        <small>
          © 2020 StatusUp.<br />Todos os direitos reservados.
        </small>
      </div>
    </div>
  </div>
  <div class="pagina w-100 h-100 bg-light">
    <router-outlet></router-outlet>
  </div>
</main>