.bg-left-login {
  background: url('../../../assets/img/login/bg-login.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.logo-top {
  max-width: 125px;
  height: auto;
}

.icone-olho {
  position: absolute;
  right: 25px;
  bottom: 6.5px;
  cursor: pointer;
}

.logo-left {
  width: 35%;
  height: auto;
}