<div class="container-fluid h-100">
  <div class="row d-flex align-items-stretch h-100">
    <div class="col-md-5 d-none d-md-block bg-left-login">
      <div class="row h-100 d-flex justify-content-center-align-items-center">
        <div class="col-12 d-flex align-items-center justify-content-center">
          <!-- <img src="assets/img/login/logo-white.png" class="logo-left"> -->
        </div>
      </div>
    </div>
    <div class="col-md-7">
      <div class="row d-flex align-items-center justify-content-center h-100">
        <form id="form-login">
          <div class="text-center mb-4">
            <!-- <img src="assets/img/login/logo-login.png" class="logo-top mb-4 w-100"> -->
            <h1 class="color-blue text-bold">Faça Login</h1>
            <p class="color-gray font-size-14 text-regular">Preencha seus dados nos campos abaixo</p>
          </div>
          <div class="col-12 mb-3 form-group label-floating">
            <input type="email" id="email" name="email" class="form-control obrigatorio" placeholder=" " [(ngModel)]="dados.email">
            <label for="email">E-mail:</label>
          </div>
          <div id="inputs" class="col-12 form-group label-floating">
            <input [type]="password ? 'password' : 'text'" id="senha" name="senha" class="form-control obrigatorio" placeholder=" " [(ngModel)]="dados.senha">
            <label for="senha">Senha:</label>
  
            <div class="icone-olho" (click)="password = !password">
              <i class="fas fa-eye"></i>
            </div>
          </div>
          <div class="col-12 d-flex justify-content-center mt-3">
            <button type="button" class="btn btn-gradient-blue btn-block py-2 w-50" (click)="login()">
              Entrar
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>