html, body {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  height: 100%;
  overflow: hidden;
}

html body {
  width: 100%;
  padding: 0px;
  font-family: "gotham-rounded-medium", Helvetica, sans-serif;
  line-height: 1.6;
  margin: 0px;
  color: #3e3e3e;
  background: #ffffff;
  background-size: cover;
}

input, textarea {
  -webkit-touch-callout: default;
  -webkit-user-select: text;
  -khtml-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
}

.font-size-10 {
  font-size: 10px!important;
}

.font-size-12 {
  font-size: 12px!important;
}

.font-size-14 {
  font-size: 14px!important;
}

.font-size-16 {
  font-size: 16px!important;
}

.font-size-18 {
  font-size: 18px!important;
}

.font-size-20 {
  font-size: 20px!important;
}

.font-size-24 {
  font-size: 24px!important;
}

.font-size-28 {
  font-size: 28px!important;
}

.font-size-32 {
  font-size: 32px!important;
}

.header-master {
  height: 60px !important;
}

.main-master {
  height: calc(100vh - 60px);
  display: flex;
  overflow: hidden;
  position: relative;
}

.main-master .pagina{
  z-index: 0;
}

svg.svg-inline--fa {
  cursor: pointer;
}

@import '~ngx-toastr/toastr.css';